<div class="h-full flex flex-col justify-between overflow-hidden">
  <mat-toolbar class="shrink-0 flex justify-between">
    <span>Cocktails</span>
    <span>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <div class="flex-grow overflow-auto ">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar class="shrink-0 flex justify-around">
    <button mat-icon-button [routerLink]="'/queue'">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="'/cocktails'">
      <mat-icon>local_bar</mat-icon>
    </button>
  </mat-toolbar>
</div>
