<div class="h-full flex flex-col justify-between overflow-hidden">
  <mat-toolbar class="shrink-0 flex justify-between">
    <span>{{title() | titlecase}}</span>
    <span>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <div class="flex-grow overflow-auto ">
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar class="shrink-0 flex justify-center gap-8">
    <button mat-icon-button [routerLink]="appRoutes.collection">
      <mat-icon>book_2</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="appRoutes.cocktails">
      <mat-icon>local_bar</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="appRoutes.cart" [matBadge]="cartCount()" [matBadgeHidden]="!cartCount()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="appRoutes.queue" [matBadge]="queueCount()" [matBadgeHidden]="!queueCount()">
      <mat-icon>list</mat-icon>
    </button>
  </mat-toolbar>
</div>