@use './style/utils/hide-scrollbar.scss';
@use './style/utils/info-field.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(https://img.freepik.com/premium-photo/blurred-background-restaurant-bar-interior-with-wooden-table-vertical-mobile-wallpaper_892776-5203.jpg);
  background-size: cover;
}

@include hide-scrollbar.HideScrollbar;
@include info-field.InfoField